.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/ast-parser-bridge/target
node_modules/ast-parser-bridge/ast-parser-bridge
node_modules/ast-parser-bridge/ast-parser-core
../ast-parser

